:root {
    --background-color: #fff;
    --font-color: #666666;
    --secondary-background-color: #FEF8F2;
    --tertiary-background-color: #dddddd;
    --highlight-color: #544737;
    --highlight-hover-color: #3d3428;
    --error-color: #ff5252;
    --table-header-background: var(--tertiary-background-color);
    --table-row-background: transparent;
    --table-font-color: #333;
    --edit-icon-color: #ffb300;
    --delete-icon-color: #ff0000;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#page-create, #page-editar{
    padding: 2%;
}

/* LOGIN */

#page-login {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#page-login .voltar {
    display: none;
}

#formulario {
    background-color: var(--secondary-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

#formulario h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: start;
    padding-left: 3%;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--tertiary-background-color) ;
}

.btn {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: var(--highlight-hover-color);
}

p {
    color: var(--error-color);
    margin-top: 10px;
}

/* MENU */

.container {
    background-color: var(--secondary-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.btn {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
}

.btn:hover {
    background-color: var(--highlight-hover-color);
}

input[type="button"] {
    width: calc(100% - 20px);
    margin: 5px 0;
}

/* TABLE */
#page-list{
    flex-direction: column;
}
#page-list label{
    margin: 0;
    padding: 0;
    text-align: start;
}
#page-list input[type="text"]{
    margin: 0;
    width: calc(20% - 20px);
    
} 
.inputs {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--tertiary-background-color) ;
}

#page-list .btn[type="submit"] {
    margin: 0;
}

#page-list .btn[type="submit"]:hover {
    background-color: var(--highlight-hover-color);
}

.tabela-estilo {
    border-collapse: collapse;
}

.tabela-estilo th,
.tabela-estilo td {
    padding: 10px;
    text-align: left;
}

.tabela-estilo th {
    background-color: var(--table-header-background);
    color: var(--font-color);
}

.tabela-estilo tr:nth-child(even) {
    background-color: var(--table-row-background);
}

.inline-form {
    display: inline;
}

.btn-tabela {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}

.btn-tabela:hover {
    background-color: var(--highlight-hover-color);
}

.busca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    gap: 1rem;
}

.container-table {
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 1%;
    color: var(--table-font-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.edit-icon{
    color: var(--edit-icon-color);
    cursor: pointer;
    background: transparent;
    border: none;
}
.delete-icon{
    color: var(--delete-icon-color);
    cursor: pointer;
    background: transparent;
    border: none;
}

/* AGENDAMENTO */

.agendamento-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.agendamento-fieldset {
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agendamento-fieldset legend {
    color: var(--highlight-color);
    padding: 0 10px;
}

.agendamento-form label {
    display: block;
    margin-bottom: 10px;
}

.agendamento-form input[type="date"],
.agendamento-form input[type="tel"],
.agendamento-form input[type="text"],
.agendamento-form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: var(--table-header-background);
    color: #333;
}

.agendamento-form input[type="submit"],
.agendamento-form input[type="reset"] {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.agendamento-form input[type="submit"]:hover,
.agendamento-form input[type="reset"]:hover {
    background-color: var(--highlight-hover-color);
}

/* VOLTAR */
.voltar{
    position: absolute;
    right: 95%;
    bottom: 90%;
    cursor: pointer;
}

.confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmation legend{
    font-size: 3rem;
}
.confirmation h1{
    color: var(--error-color);
}

#page-agendamento input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--tertiary-background-color) ;
}

#page-agendamento, .agendamento-erro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.agendamento-erro h3{
    color: var(--error-color);
}

.agendamento-erro input{
    width: calc(20% - 20px);
}