h1, a, form, table {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo da pagina index.html */
.container {
    display: flex;
    align-items: center;
}

.esquerda {
    text-align: left; 
}

.centro {
    text-align: center;
}

.direita {
    text-align: right;
}


/* Estilo da tabela da pagina listar.html */
.tabela-estilo {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.tabela-estilo td, .tabela-estilo th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela-estilo th {
    background-color: #f2f2f2;
}

#field {
    text-align: right;
}

#field label {
    text-align: left;
    display: inline-block;
    width: 150px;
}

#field input {
    display: inline-block;
    text-align: left;
}

#field button {
    display: inline-block;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}