h1, a, form, table {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo da pagina index.html */
.container {
    display: flex;
    align-items: center;
}

.esquerda {
    text-align: left; 
}

.centro {
    text-align: center;
}

.direita {
    text-align: right;
}


/* Estilo da tabela da pagina listar.html */
.tabela-estilo {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.tabela-estilo td, .tabela-estilo th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
/* teste */
.tabela-estilo th {
    background-color: #fff; 
}

#field {
    text-align: right;
}

#field label {
    text-align: left;
    display: inline-block;
    width: 150px;
}

#field input {
    display: inline-block;
    text-align: left;
}

#field button {
    display: inline-block;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}



/* CSS para o popup do reagendamento */
.form-popup {
    display: none;
    position: fixed;
    bottom: 500px;
    right: 10px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }