{% extends 'index.html' %}

{% block conteudo %}

  <fieldset class="agendamento-fieldset">
    <form id="appointmentForm" action="/pega_data" method="post">
      <legend><h1>Agendamento</h1></legend><br>
      <label for="data">Selecione a data:</label><br>
      <input size="10" type="date" id="data" name="data" required>
      <input class="btn" type="submit" value="Buscar"><br><br>
    </form>

    {% if validacao == True %}
        
      <fieldset class="agendamento-fieldset">
        <form id="appointmentForm" action="/agendar" method="post" class="agendamento-form">
        <label for="time">Selecione o horário:</label><br>
        <select name="time" id="time" required>

          {% for hora in agenda %}
          <option value="{{hora}}">{{hora}}</option>
          {% endfor %}
        
        </select>
        <br>
        <label for="telefone">Telefone:</label><br>
        <input type="tel" id="telefone" name="telefone" placeholder="Telefone" required><br>
        <input type="hidden" name="dia" value="{{dia}}">
        <input type="reset" value="Limpar">
        <input type="submit" value="Agendar">
        </form>
      </fieldset>
    {% endif %}
  </fieldset><br><br>
  {% if validacao_telefone == False %}
    <p>{{resposta}}</p><br>
    <input class="btn" type="button" value="Cadastrar Cliente" onclick="window.location.href='cliente_cadastro'"><br>
  {% endif %}

<script src="../static/agendamento.js"></script>
{% endblock %}