{% extends "index.html" %}{% block conteudo %}
<body id="page-list">
  <h1>Agenda</h1>
  <form method="POST" action="lista_agenda" class="busca">
    <label for="busca">Escolha o dia: </label>
    <input size="10" type="date" id="dia" name="dia" class="inputs" required />
    <button class="btn" type="submit">Buscar</button>
  </form>
  {% if busca == True %}
  <div class="container-table">
    <table class="tabela-estilo">
      <tr>
        {% for nome in nomes %}
        <td>{{ nome }}</td>
        {% endfor %}
      </tr>
      {% for agendamento in lista %}
      <tr>
        {% for n in agendamento%}
        <td>{{ n }}</td>
        {% endfor %}
        <form action="dados_agenda" method="POST">
          <td>
            <button type="submit" name="edita" class="edit-icon">
              <i class="fas fa-edit"></i>
            </button>
          </td>
          <input type="hidden" name="cod" class="inputs" value="{{agendamento[0]}}"/>
        </form>
        <form action="excluir_agenda" method="POST">
          <td>
            <button type="submit" name="exclui" class="delete-icon">
              <i class="fas fa-trash"></i>
            </button>
          </td>
          <input type="hidden" name="cod" class="inputs" value="{{agendamento[0]}}"/>
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
{% endif %} {% endblock %}
