{% extends "index.html" %}{% block conteudo %}
<h1>Lista de Clientes</h1>
<form method="POST" action="/busque_cliente">
    <label for="telefone">Digite o telefone do cliente:</label>
    <input type="text" id="telefone" name="telefone" class="inputs" required>
    <button type="submit">Buscar</button><br>
</form>
<table border="1" cellpadding="5" cellspacing="5">
    <tr>
        <td>Cód</td>
        <td>Nome</td>
        <td>Idade</td>
        <td>E-mail</td>
        <td>Endereço</td>
        <td>Telefone</td>
        
    </tr>  
    {% for cliente in clientes %}
    <tr>
        {% for d in cliente %}
            <td>{{ d }}</td>
        {% endfor %}
        <form action="/dados_cliente" method="POST">
            <td><input type="submit" name="edita" value="Editar"></td>
            <input type="hidden" name="cod" class="inputs" value="{{cliente[0]}}"/>
        </form>
        <form action="/exclui_cliente" method="POST">
            <td><input type="submit" name="exclui"  value="Excluir"></td>
            <input type="hidden" name="fone" class="inputs" value="{{cliente[5]}}"/>
        </form>

    </tr>
    {% endfor %}
    
</table>


{% endblock %}