{% extends "index.html" %}{% block conteudo %}
<form method="POST" action="{{ link }}">
    <fieldset >
        <legend><h1>{{ titulo }}</h1></legend>
        {% for campo in campos %}
        <label for="{{ campo.id }}">{{ campo.nome }}:</label>
            {% if campo.id == 'cod' %}
                <input type="text" id="{{ campo.id }}" name="{{ campo.id }}" class="inputs" value="{{ objeto[0] }}" disabled required><br><br>
                <input type="hidden" id="{{ campo.id }}" name="{{ campo.id }}" class="inputs" value="{{ objeto[0] }}">
            {% else %}
                <input type="text" id="{{ campo.id }}" name="{{ campo.id }}" class="inputs" value="{{ objeto[campo.indice] }}" required><br><br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Enviar">
    </fieldset>

  </form>

{% endblock %}