<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
  {% block conteudo %}

  <form method="POST" action="/buscacep" id="acharrua">
    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" class="inputs" required>
    <input type="submit" value="Buscar CEP"><br><br>
  </form>
  {% if validar == False and busca == True %}
    <p>"Cep invalido"</p>
  {% endif %}



  <form method="POST" action="/cadastrar" id="formulario">
    <fieldset id="field">
      <legend><h1>Cadastrar Cliente</h1></legend>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" class="inputs" required><br><br>
      
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" class="inputs" required><br><br>
      
      {% if validar == True %}
        <label for="end">Endereço:</label>
        <input type="text" id="endereco" name="end" value="{{ rua }}" class="inputs" required>
      {% else %}
        <label for="end">Endereço:</label>
        <input type="text" id="endereco" name="end" class="inputs" required>
      {% endif %} 
      <br><br>

      <label for="fone">Telefone:</label>
      <input type="tel" id="telefone" name="fone" class="inputs" required><br><br>
      
      <label for="idade">Idade:</label>
      <input type="number" id="idade" name="idade" class="inputs" required><br><br>

      <input type="reset" value="Limpar">
      <input type="submit" value="Enviar">

      
    </fieldset>

  
  </form>
  {% endblock %}
    
</body>
</html>